body,
header,
footer,
div,
p,
ul {
  margin: 0;
  padding: 0;
}
body {
  background: #fff;
}
/* 字体样式 */
.font {
  font-weight: bold;
  font-family: Helvetica, Tahoma, Arial, STXihei, "华文细黑", Heiti, "黑体", "Microsoft YaHei", "微软雅黑", SimSun, "宋体", sans-serif;
}
/* css三角，显示下边框 */
.bottomborder-show {
  border-top-color: transparent;
  border-left-color: transparent;
  border-right-color: transparent;
}
/* 清除浮动 */
.clearfloat:after {
  display: block;
  clear: both;
  content: "";
  visibility: hidden;
  height: 0;
}
.clearfloat {
  zoom: 1;
}
.container {
  width: 100%;
  min-width: 1300px;
  /* 头部样式 */
  /* 公交站名样式 */
}
.container header {
  height: 220px;
  background: #fff;
  padding-top: 30px;
  font-weight: bold;
  font-family: Helvetica, Tahoma, Arial, STXihei, "华文细黑", Heiti, "黑体", "Microsoft YaHei", "微软雅黑", SimSun, "宋体", sans-serif;
  /* 公交车号样式 */
  /* 终点站样式 */
}
.container header .left {
  width: 30%;
  float: left;
}
.container header .left .busno {
  color: #fff;
  font-size: 140px;
  padding-left: 25%;
  background: #f00;
}
.container header .left .bustimediv .bustime {
  color: #000;
  font-size: 24px;
  padding-top: 10px;
  float: right;
}
.container header .right {
  width: 70%;
  height: 100%;
  float: right;
  font-size: 42px;
  text-align: center;
}
.container header .right p {
  margin-bottom: 10px;
}
.container header .right .station {
  color: #0a0;
}
.container header .right .station .ch-sta {
  font-weight: bolder;
}
.container header .right .station .en-sta {
  font-size: 24px;
  font-weight: normal;
}
.container header .right .curstation {
  color: #f00;
  margin-top: 30px;
}
.container .content {
  width: 100%;
  padding-top: 5px;
  background: #0a0;
  color: #fff;
  font-weight: bold;
  font-family: Helvetica, Tahoma, Arial, STXihei, "华文细黑", Heiti, "黑体", "Microsoft YaHei", "微软雅黑", SimSun, "宋体", sans-serif;
  font-size: 24px;
  /* 当前所在站箭头样式 */
}
.container .content ul {
  height: 230px;
  list-style: none;
}
.container .content ul li {
  width: 28px;
  float: left;
  padding-left: 29px;
  padding-right: 29px;
  text-align: center;
}
.container .content .curarrowdiv {
  height: 60px;
}
.container .content .curarrowdiv .curarrow .arrowtop {
  width: 0;
  height: 0;
  border: 16px solid #fff;
  border-top-color: transparent;
  border-left-color: transparent;
  border-right-color: transparent;
  margin-left: 28px;
  margin-top: -10px;
}
.container .content .curarrowdiv .curarrow .arrowbottom {
  width: 16px;
  height: 15px;
  margin-left: 36px;
  background: #fff;
}
.container footer {
  height: 75px;
  color: #000;
  background: #fff;
  /* 发车方向样式 */
}
.container footer .price {
  font-size: 24px;
  font-weight: bold;
  margin-top: 15px;
  text-align: center;
}
.container footer .direction .outtriangle {
  width: 800px;
  height: 0;
  border-right: 120px solid #f00;
  border-bottom: 20px solid #f00;
  border-top-color: transparent;
  border-left-color: transparent;
  border-right-color: transparent;
  margin: -10px auto;
  background: #fff;
}
.container footer .direction .outtriangle .innertriangle {
  width: 795px;
  height: 0;
  border-right: 50px solid #fff;
  border-bottom: 15px solid #fff;
  border-top-color: transparent;
  border-left-color: transparent;
  border-right-color: transparent;
}
