<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">           
      <title><%= title %></title>
    <link rel="stylesheet" type="text/css" href="/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/css/dbms.css" />  
  </head>
  <body>
      <% include header %> 
      <!-- 新闻列表 start -->
    <div class="container">
        <table id="newstable" class="table table-bordered table-hover">
        </table>
        <!-- 新闻弹出框 用于增加和修改 start -->
        <div id="newsModal" class="modal fade" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×
                        </button>
                        <h3 id="newsModalLabel">新闻信息</h3>
                    </div>
                    <div class="modal-body">
                        <form class="form-horizontal" id="newsForm">
                            <div id="newsidDiv" class="control-group has-feedback">
                                <label class="control-label" for="newsid">新闻编号：</label>
                                <input type="number" id="newsid" class="form-control" name="newsid" required="required" />
                            </div>
                            <div class="control-group">
                                <label class="control-label" for="newstitle">新闻标题：</label>
                                <input type="text" id="newstitle" class="form-control" name="newstitle" />
                            </div>
                            <div class="control-group">
                                <label class="control-label" for="newstype">新闻类型：</label>
                                <select id="newstype" class="form-control">
                                    <option value="0">推荐</option>
                                    <option value="1">本地</option>
                                </select>
                            </div>
                            <div class="control-group">
                                <label class="control-label" for="newscontent">新闻内容：</label>
                                <textarea name="newscontent" id="newscontent" class="form-control" cols="30" rows="4"></textarea>
                            </div>
                            <div class="control-group">
                                <label class="control-label" for="newsimg">新闻图片：</label>
                                <input type="text" id="newsimg" class="form-control" name="newsimg" />
                            </div>
                            <div class="control-group">
                                <label class="control-label" for="addtime">创建时间：</label>
                                <input type="date" id="addtime" class="form-control" name="addtime" />
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-primary" id="insertBtn" data-dismiss="modal">确定</button>
                        <button class="btn btn-primary" id="updateBtn" data-dismiss="modal">保存</button>
                        <button class="btn btn-danger" data-dismiss="modal" aria-hidden="true">取消
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <!-- 新闻弹出框 用于增加和修改 end -->
    </div>
    <!-- 新闻列表 end -->
    <script src="/js/jquery-1.12.1.min.js"></script>
    <script src="/bootstrap/js/bootstrap.min.js"></script>
     <script type="text/javascript" src="/bootstrap/js/bootstrap-table.min.js"></script>
    <script src="/js/dbms.js"></script>
  </body>
</html>